<a href="https://colab.research.google.com/github/swetha-s10122003/Z-Test/blob/main/Z_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from statsmodels.stats import weightstats as stests

In [3]:
df=pd.read_csv("/content/winequality-red.csv")

In [4]:

df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
df[['volatile acidity','fixed acidity']].describe()

       volatile acidity  fixed acidity
count       1599.000000    1599.000000
mean           0.527821       8.319637
std            0.179060       1.741096
min            0.120000       4.600000
25%            0.390000       7.100000
50%            0.520000       7.900000
75%            0.640000       9.200000
max            1.580000      15.900000

In [6]:
ztest ,pvalue = stests.ztest(df['volatile acidity'], x2=None, value=146)
print(float(pvalue))
print(ztest)

0.0
-32486.753625157056

In [7]:
if pvalue<0.05:
    print("Null hypothesis rejected , Alternative hypothesis accepted")
else:
    print("Null hypothesis accepted , Alternative hypothesis rejected")

Null hypothesis rejected , Alternative hypothesis accepted

In [8]:
ztest,pval1=stests.ztest(df['residual sugar'],df['density'],value=100)
print(float(pval1))

0.0

In [9]:

if pval1>0.05:
    print("Null hypothesis rejected , Alternative hypothesis accepted")
else:
    print("Null hypothesis accepted , Alternative hypothesis rejected")

Null hypothesis accepted , Alternative hypothesis rejected